@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

.justify-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 170px);
    box-sizing: border-box;
    margin: 20px 0px;
}

.add-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 10px 20px;
    width: calc(100% - 40px);
    margin: 0px;
    max-width: 600px;
    box-sizing: border-box;
}

label span {
    color: red;
}

h1 {
    text-align: center;
    margin: 0 0 20px;
    font-size: 30px;
    color: var(--blue-royal);
    font-weight: 500;
    text-transform: uppercase;
}

form{
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    padding: 30px;
}

.form-group textarea {
    resize: none;
    /* height: 100px; */
}

.form-group button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Montserrat', sans-serif;
}

.form-group button:hover {
    background-color: #0056b3;
}

.message {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.message.success {
    color: #28a745;
}

.message.error {
    color: #dc3545;
}

#word,
#translation,
textarea {
    font-size: 16px;
}

@media (max-width: 768px) {
    .justify-center {
        margin: 20px 0px;
    }
}

.form-group button {
    width: 100%;
}

/* icon */
.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid var(--blue-light);
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}

.icon {
    background-color: var(--blue-royal);
    padding: 19px;
    color: var(--icon);
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon i{
    font-size: 25px;
}

.input-wrapper input,
.input-wrapper textarea {
    border: none;
    outline: none;
    padding: 5px;
    flex: 1;
}

.form-group {
    position: relative;
    margin-bottom: 30px;
}

.form-group input,
.form-group textarea {
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid var(--border-primary);
    padding: 10px;
    border-radius: 5px;
    font-size: inherit;
    color: var(--blue-cobalt);
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    font-size: 16px;
}

.form-group label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    padding: 0 5px;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    color: #888;
}

.form-group input:focus + label, 
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 14px;
    font-weight: 500;
    color: var(--blue-light);
}

/* Đảm bảo input và textarea có placeholder để kích hoạt hiệu ứng */
.form-group input::placeholder,
.form-group textarea::placeholder {
    color: transparent;
}

.input-wrapper input,
.input-wrapper textarea {
    font-size: 16px;
}

