@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.form-container {
    background-color: var(--background-primary);
    border-radius: 8px;
    padding: 30px;
    width: calc(100% - 40px);
    max-width: 550px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 0 0 20px;
    font-size: 50px;
    color: var(--blue-royal);
    font-weight: 500;
    text-transform: uppercase;
}

form{
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    padding: 30px;
}
.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group input{
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid var(--border-primary);
    padding: 10px;
    border-radius: 5px;
    font-size: inherit;
    color: var(--blue-cobalt);
    transition: all 0.3s ease-in-out;
    
}

.form-group label{
    position: absolute;
    padding: 0px 5px;
    left: 65px;
    top: 50%;
    /* Quan trọng  */
    pointer-events: none;
    transform: translateY(-50%);
    background: var(--background-primary);
    transition: all 0.3s ease-in-out;
}

/* .form-group input:focus {
    border: 2px solid #1a73e8;
} */
.form-group input:focus + label, .form-group input:valid + label{
    top: 0px;
    font-size: 15px;
    font-weight: 500;
    color: var(--blue-light);
}

/* icon */
.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid var(--blue-light);
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}

.icon {
    background-color: var(--blue-royal);
    padding: 19px;
    color: var(--icon);
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon i{
    font-size: 25px;
}

.input-wrapper input {
    border: none;
    outline: none;
    padding: 5px;
    flex: 1;
}

.form-group .password-container {
    display: flex;
    align-items: center;
}

.form-group .password-container input {
    flex: 1;
    padding-right: 40px;
}

.form-group .password-toggle {
    position: absolute;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background: transparent;
}

.form-group #submit {
    width: 100%;
    background-color: var(--blue-royal);
    color: var(--background-primary);
    border: none;
    padding: 12px 15px;
    border-radius: 4px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group #submit:hover {
    background-color: var(--blue-dark);
}

.text-center {
    text-align: center;
    margin-top: 15px;
    font-style: italic;
}

.text-center a {
    color: var(--blue-primary);
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
}

#email-message,
#username-message {
    color: var(--red);
    font-size: 7px;
    margin-top: 5px;
    font-style: italic;
}